In [1]:
import pandas as pd
import numpy as np
pay_info=pd.read_csv('C:\\Users\\fcn\\Desktop\\dataset\\dataset\\user_pay.txt',names=['用户id','商家id','支付时间'])
shop_info=pd.read_csv('C:\\Users\\fcn\\Desktop\\dataset\\dataset\\shop_info.txt',names=['商家id','市名','所在位置编号','人均消费','评分','评论数','门店等级','一级品类名称','二级分类名称','三级分类名称'])
pay_info

              用户id  商家id                 支付时间
0         22127870  1862  2015-12-25 17:00:00
1          3434231  1862  2016-10-05 11:00:00
2         16955285  1862  2016-02-10 15:00:00
3         13799128  1862  2016-01-13 14:00:00
4         13799128  1862  2016-07-05 12:00:00
5         20244878  1862  2016-09-17 15:00:00
6         20244878  1862  2016-05-29 16:00:00
7           438444  1862  2016-02-22 17:00:00
8         22003193  1862  2016-08-07 15:00:00
9         20244878  1862  2016-04-17 16:00:00
10         9034387  1862  2016-03-18 19:00:00
11        13211167  1862  2016-09-29 20:00:00
12        18329438  1862  2016-03-20 18:00:00
13        20244878  1862  2016-06-26 15:00:00
14        10303270  1862  2016-01-01 18:00:00
15        12590929  1862  2016-04-17 17:00:00
16        12590929  1862  2016-02-28 13:00:00
17        17609360  1862  2016-10-15 17:00:00
18        14438936  1862  2016-06-26 15:00:00
19        15262746  1862  2016-10-18 19:00:00
20         4296251  1862  2016-07-12 15:00:00
21        22028056  1862  2016-08-19 13:00:00
22         4296251  1862  2016-08-15 20:00:00
23         8509380  1862  2016-04-16 21:00:00
24        11775594  1862  2016-09-25 17:00:00
25        16705113  1862  2016-04-18 18:00:00
26          438444  1862  2016-05-12 20:00:00
27        17068663  1862  2016-10-06 18:00:00
28         2650727  1862  2016-02-27 18:00:00
29         4682101  1862  2016-08-21 17:00:00
...            ...   ...                  ...
69674080  15330495   766  2016-08-09 10:00:00
69674081  21083232   766  2016-10-18 19:00:00
69674082   3930915   766  2016-07-30 15:00:00
69674083  21083232   766  2016-10-30 19:00:00
69674084  11369450   766  2016-10-11 20:00:00
69674085  11350161   766  2016-10-11 19:00:00
69674086  11350161   766  2016-09-15 17:00:00
69674087  11350161   766  2016-09-09 16:00:00
69674088  11350161   766  2016-10-30 13:00:00
69674089  11350161   766  2016-09-27 19:00:00
69674090  13235858   766  2016-10-11 18:00:00
69674091   6088076   766  2016-08-16 11:00:00
69674092  13541879   766  2016-07-13 19:00:00
69674093  16221565   766  2016-09-08 18:00:00
69674094  10172353   766  2016-07-13 12:00:00
69674095  10172353   766  2016-07-16 11:00:00
69674096  21083232   766  2016-09-21 20:00:00
69674097  20732081   766  2016-08-28 12:00:00
69674098   5112685   766  2016-10-27 11:00:00
69674099  15273463   766  2016-08-04 19:00:00
69674100   4378316   766  2016-08-23 12:00:00
69674101  14323567   766  2016-10-26 20:00:00
69674102  14323567   766  2016-10-06 12:00:00
69674103  19062832   766  2016-08-13 19:00:00
69674104  19062832   766  2016-09-24 20:00:00
69674105  15330495   766  2016-08-21 19:00:00
69674106   8556331   766  2016-08-11 20:00:00
69674107  11429329   766  2016-09-18 18:00:00
69674108  11429329   766  2016-10-02 20:00:00
69674109  22602094   766  2016-10-13 13:00:00

[69674110 rows x 3 columns]

In [2]:
pay_info['支付时间']=pay_info['支付时间'].str.slice(start=0,stop=10)
pay_info

              用户id  商家id        支付时间
0         22127870  1862  2015-12-25
1          3434231  1862  2016-10-05
2         16955285  1862  2016-02-10
3         13799128  1862  2016-01-13
4         13799128  1862  2016-07-05
5         20244878  1862  2016-09-17
6         20244878  1862  2016-05-29
7           438444  1862  2016-02-22
8         22003193  1862  2016-08-07
9         20244878  1862  2016-04-17
10         9034387  1862  2016-03-18
11        13211167  1862  2016-09-29
12        18329438  1862  2016-03-20
13        20244878  1862  2016-06-26
14        10303270  1862  2016-01-01
15        12590929  1862  2016-04-17
16        12590929  1862  2016-02-28
17        17609360  1862  2016-10-15
18        14438936  1862  2016-06-26
19        15262746  1862  2016-10-18
20         4296251  1862  2016-07-12
21        22028056  1862  2016-08-19
22         4296251  1862  2016-08-15
23         8509380  1862  2016-04-16
24        11775594  1862  2016-09-25
25        16705113  1862  2016-04-18
26          438444  1862  2016-05-12
27        17068663  1862  2016-10-06
28         2650727  1862  2016-02-27
29         4682101  1862  2016-08-21
...            ...   ...         ...
69674080  15330495   766  2016-08-09
69674081  21083232   766  2016-10-18
69674082   3930915   766  2016-07-30
69674083  21083232   766  2016-10-30
69674084  11369450   766  2016-10-11
69674085  11350161   766  2016-10-11
69674086  11350161   766  2016-09-15
69674087  11350161   766  2016-09-09
69674088  11350161   766  2016-10-30
69674089  11350161   766  2016-09-27
69674090  13235858   766  2016-10-11
69674091   6088076   766  2016-08-16
69674092  13541879   766  2016-07-13
69674093  16221565   766  2016-09-08
69674094  10172353   766  2016-07-13
69674095  10172353   766  2016-07-16
69674096  21083232   766  2016-09-21
69674097  20732081   766  2016-08-28
69674098   5112685   766  2016-10-27
69674099  15273463   766  2016-08-04
69674100   4378316   766  2016-08-23
69674101  14323567   766  2016-10-26
69674102  14323567   766  2016-10-06
69674103  19062832   766  2016-08-13
69674104  19062832   766  2016-09-24
69674105  15330495   766  2016-08-21
69674106   8556331   766  2016-08-11
69674107  11429329   766  2016-09-18
69674108  11429329   766  2016-10-02
69674109  22602094   766  2016-10-13

[69674110 rows x 3 columns]

In [3]:
pay_info=pay_info.groupby(['商家id','支付时间']).size()
pay_info

商家id  支付时间
1     2015-10-10    188
      2015-10-11    272
      2015-10-12    257
      2015-10-13    239
      2015-10-14    277
      2015-10-15    227
      2015-10-16    242
      2015-10-17    293
      2015-10-18    291
      2015-10-19    256
      2015-10-20    262
      2015-10-21    271
      2015-10-22    260
      2015-10-23    240
      2015-10-24    291
      2015-10-25    286
      2015-10-26    264
      2015-10-27    295
      2015-10-28    310
      2015-10-29    212
      2015-10-30    331
      2015-10-31    347
      2015-11-01    381
      2015-11-02    332
      2015-11-03    404
      2015-11-04    392
      2015-11-05    496
      2015-11-06    430
      2015-11-07    351
      2015-11-08    288
                   ...
2000  2016-10-02     39
      2016-10-03     50
      2016-10-04     29
      2016-10-05     35
      2016-10-06     76
      2016-10-07     68
      2016-10-08    158
      2016-10-09    176
      2016-10-10    161
      2016-10-11    163
      2016-10-12    159
      2016-10-13    177
      2016-10-14    148
      2016-10-15     78
      2016-10-16     60
      2016-10-17    163
      2016-10-18    157
      2016-10-19    164
      2016-10-20    165
      2016-10-21    138
      2016-10-22     66
      2016-10-23     59
      2016-10-24    162
      2016-10-25    181
      2016-10-26    184
      2016-10-27    132
      2016-10-28    133
      2016-10-29     67
      2016-10-30     67
      2016-10-31    168
dtype: int64

In [4]:
pay_info=pay_info.reset_index()
pay_info

        商家id        支付时间    0
0          1  2015-10-10  188
1          1  2015-10-11  272
2          1  2015-10-12  257
3          1  2015-10-13  239
4          1  2015-10-14  277
5          1  2015-10-15  227
6          1  2015-10-16  242
7          1  2015-10-17  293
8          1  2015-10-18  291
9          1  2015-10-19  256
10         1  2015-10-20  262
11         1  2015-10-21  271
12         1  2015-10-22  260
13         1  2015-10-23  240
14         1  2015-10-24  291
15         1  2015-10-25  286
16         1  2015-10-26  264
17         1  2015-10-27  295
18         1  2015-10-28  310
19         1  2015-10-29  212
20         1  2015-10-30  331
21         1  2015-10-31  347
22         1  2015-11-01  381
23         1  2015-11-02  332
24         1  2015-11-03  404
25         1  2015-11-04  392
26         1  2015-11-05  496
27         1  2015-11-06  430
28         1  2015-11-07  351
29         1  2015-11-08  288
...      ...         ...  ...
599245  2000  2016-10-02   39
599246  2000  2016-10-03   50
599247  2000  2016-10-04   29
599248  2000  2016-10-05   35
599249  2000  2016-10-06   76
599250  2000  2016-10-07   68
599251  2000  2016-10-08  158
599252  2000  2016-10-09  176
599253  2000  2016-10-10  161
599254  2000  2016-10-11  163
599255  2000  2016-10-12  159
599256  2000  2016-10-13  177
599257  2000  2016-10-14  148
599258  2000  2016-10-15   78
599259  2000  2016-10-16   60
599260  2000  2016-10-17  163
599261  2000  2016-10-18  157
599262  2000  2016-10-19  164
599263  2000  2016-10-20  165
599264  2000  2016-10-21  138
599265  2000  2016-10-22   66
599266  2000  2016-10-23   59
599267  2000  2016-10-24  162
599268  2000  2016-10-25  181
599269  2000  2016-10-26  184
599270  2000  2016-10-27  132
599271  2000  2016-10-28  133
599272  2000  2016-10-29   67
599273  2000  2016-10-30   67
599274  2000  2016-10-31  168

[599275 rows x 3 columns]

In [5]:
pay_info.rename(columns={0:'客户流量'},inplace=True)
pay_info

        商家id        支付时间  客户流量
0          1  2015-10-10   188
1          1  2015-10-11   272
2          1  2015-10-12   257
3          1  2015-10-13   239
4          1  2015-10-14   277
5          1  2015-10-15   227
6          1  2015-10-16   242
7          1  2015-10-17   293
8          1  2015-10-18   291
9          1  2015-10-19   256
10         1  2015-10-20   262
11         1  2015-10-21   271
12         1  2015-10-22   260
13         1  2015-10-23   240
14         1  2015-10-24   291
15         1  2015-10-25   286
16         1  2015-10-26   264
17         1  2015-10-27   295
18         1  2015-10-28   310
19         1  2015-10-29   212
20         1  2015-10-30   331
21         1  2015-10-31   347
22         1  2015-11-01   381
23         1  2015-11-02   332
24         1  2015-11-03   404
25         1  2015-11-04   392
26         1  2015-11-05   496
27         1  2015-11-06   430
28         1  2015-11-07   351
29         1  2015-11-08   288
...      ...         ...   ...
599245  2000  2016-10-02    39
599246  2000  2016-10-03    50
599247  2000  2016-10-04    29
599248  2000  2016-10-05    35
599249  2000  2016-10-06    76
599250  2000  2016-10-07    68
599251  2000  2016-10-08   158
599252  2000  2016-10-09   176
599253  2000  2016-10-10   161
599254  2000  2016-10-11   163
599255  2000  2016-10-12   159
599256  2000  2016-10-13   177
599257  2000  2016-10-14   148
599258  2000  2016-10-15    78
599259  2000  2016-10-16    60
599260  2000  2016-10-17   163
599261  2000  2016-10-18   157
599262  2000  2016-10-19   164
599263  2000  2016-10-20   165
599264  2000  2016-10-21   138
599265  2000  2016-10-22    66
599266  2000  2016-10-23    59
599267  2000  2016-10-24   162
599268  2000  2016-10-25   181
599269  2000  2016-10-26   184
599270  2000  2016-10-27   132
599271  2000  2016-10-28   133
599272  2000  2016-10-29    67
599273  2000  2016-10-30    67
599274  2000  2016-10-31   168

[599275 rows x 3 columns]

In [6]:
merge_info=pay_info.merge(shop_info,on=['商家id'])
merge_info

,商家id,支付时间,客户流量,市名,所在位置编号,人均消费,评分,评论数,门店等级,一级品类名称,二级分类名称,三级分类名称
0,1,2015-10-10,188,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,1,2015-10-11,272,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
2,1,2015-10-12,257,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
3,1,2015-10-13,239,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
4,1,2015-10-14,277,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
5,1,2015-10-15,227,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
6,1,2015-10-16,242,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
7,1,2015-10-17,293,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
8,1,2015-10-18,291,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
9,1,2015-10-19,256,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
10,1,2015-10-20,262,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
11,1,2015-10-21,271,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
12,1,2015-10-22,260,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
13,1,2015-10-23,240,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
14,1,2015-10-24,291,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
15,1,2015-10-25,286,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
16,1,2015-10-26,264,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
17,1,2015-10-27,295,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
18,1,2015-10-28,310,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
19,1,2015-10-29,212,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
20,1,2015-10-30,331,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
21,1,2015-10-31,347,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
22,1,2015-11-01,381,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
23,1,2015-11-02,332,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
24,1,2015-11-03,404,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
25,1,2015-11-04,392,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
26,1,2015-11-05,496,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
27,1,2015-11-06,430,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
28,1,2015-11-07,351,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
29,1,2015-11-08,288,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
...,...,...,...,...,...,...,...,...,...,...,...,...
599245,2000,2016-10-02,39,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599246,2000,2016-10-03,50,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599247,2000,2016-10-04,29,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599248,2000,2016-10-05,35,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599249,2000,2016-10-06,76,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599250,2000,2016-10-07,68,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599251,2000,2016-10-08,158,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599252,2000,2016-10-09,176,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599253,2000,2016-10-10,161,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599254,2000,2016-10-11,163,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599255,2000,2016-10-12,159,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599256,2000,2016-10-13,177,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599257,2000,2016-10-14,148,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599258,2000,2016-10-15,78,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599259,2000,2016-10-16,60,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599260,2000,2016-10-17,163,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599261,2000,2016-10-18,157,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599262,2000,2016-10-19,164,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599263,2000,2016-10-20,165,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599264,2000,2016-10-21,138,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599265,2000,2016-10-22,66,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599266,2000,2016-10-23,59,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599267,2000,2016-10-24,162,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599268,2000,2016-10-25,181,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599269,2000,2016-10-26,184,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599270,2000,2016-10-27,132,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599271,2000,2016-10-28,133,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599272,2000,2016-10-29,67,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599273,2000,2016-10-30,67,杭州,378,7,3.0,2.0,0,美食,小吃,面点
599274,2000,2016-10-31,168,杭州,378,7,3.0,2.0,0,美食,小吃,面点

In [7]:
merge_info.to_csv('C:\\Users\\fcn\\Desktop\\dataset\\dataset\\merge_info.txt',index=False)